body{
	margin:0;
	width:100%;
	height:100%;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #2b2b2b 76%, #2c2c2c 89%, #1c1c1c 100%, #111111 100%, #666666 100%, #474747 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(76%,#2b2b2b), color-stop(89%,#2c2c2c), color-stop(100%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#666666), color-stop(100%,#474747), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* IE10+ */
background: linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
#div_banner{
	min-height:50px;
	background-color:#185F9D;
	color:white;
	font-size:18px;
	text-align:left;
	font-family:geneva;
	font-variant:small-caps;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	opacity:.7;
	



}

#div_footer{
	background-color:#185F9D;
	height:5%;
}
#div_map_container{
	height:100%;
	background-color:#dddddd;
	margin:auto;
}
#div_hiveControls_grabber{
	height:50px;
	background-color:rgba(0,0,0,.4);
	
	font-family:tahoma;
	font-size:28px;
	font-weight:bold;
	color:white;
	padding:0px;
}

#div_hiveControls_grabber > ul {
	height:50px;
	list-style:none;
	width:100%;
	margin:0px;
	padding:0px;
}

.nav_main {
		height:40px;
		display:inline-block;
		border-right:1px solid black;
		margin-bottom:0px;
		margin-left:-10px;
		padding-left:10px;
		text-align:center;
		padding-top:10px;
	width:200px;
}

#div_login{
	margin-top:25px;
	width:300px;
	height:300px;
	float:left;
	z-index:9999;
	background-color:#ffffff;
	color:black;
	text-align:center;
	border:3px solid #999999;
	position:relative;
	left:150px;
}

#div_login > input{
	width:250px;
	display:inline-block;
	margin-left:25px;
	font-size:26px;
	
}

.nav_main:hover{
	background-color:#444444;
	cursor:pointer;
}
#div_hiveControls_wrapper{
	position:fixed;
	left:20%;
	top:0px;
	min-height:50px;
	min-width:60%;
}

#div_hiveControls{
	height:500px;
	background-color:#888888;
	opacity:.7;
}


.div_infoWindow{
}


/* upload form */
.lbl_upload{
	width:100px;
	margin-right:5px;
}

.in_upload{
	width:200px;
	display:inline-block;
	
}

/* historical data */
#container_historicalData{
		position:absolute;
	bottom:0px;
	//left:25%;
	width:100%;
//	min-width:1000px;
	margin-auto;
	
}
#grabber_historicalData{
	min-height:50px;
	width:100%;
	//position:relative;
	margin:auto;

	background-color:#222222;
	opacity:.4;
}
#div_historicalData{
	min-width:1000px;
	height:500px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.24) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.24))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* IE10+ */
background: linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#3d000000',GradientType=0 ); /* IE6-9 */
	
}

#wrapper_historicalData{
	width:100%;
	height:0%;
}

#tab_historicalData{
	width:100%;
	height:0%;
	background-color:#666666;
	color:#dddddd;

}

#div_historicalData_previousRecords{
	
	width:100%;
	height:100%;

	
}
#div_historicalData_maxAndMins{
	width:100%;
	height:100%;

}

#nav_historicalData_maxAndMins_record_contents{
	width:100%;
	border-bottom:1px inset #AAAAAA;
    background-color:#888888;
    padding-top:5px;
    padding-bottom:5px;
	
}
.rad_large{
	width:180px;
	height:20px;
	display:inline-block;
	border-right:1px inset #AAAAAA;
	margin-left:0px; 	
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding:2px;
	cursor:pointer;
	
	
}
.rad_large > input {
	width: 80px;
	margin:auto;
}
#div_historicalData_maxAndMins_record_wrapper{
	width:80%;
	height:90%;
	margin: auto;
}
#div_historicalData_maxAndMins_record_title{
	width:100%;
	background-color:#666666;
	text-align:center;
	color:#dddddd;
	font-size:26px;
	padding-top:5px;
	padding-bottom:5px;
}
#div_historicalData_maxAndMins_record_contents{
	height:85%;
	width:100%;
	background-color:#ffffff;
	
}
#table_historicalData_maxAndMins
{
	width: 100%;
	text-align:center;
}
#table_historicalData_maxAndMins th
{
	width: 20%;
	border-right: 1px inset #000000;
	border-bottom: 1px inset #000000;
}
#table_historicalData_maxAndMins td
{
	background-color: #ffffff;
	border-right: 1px inset #000000;
	border-bottom: 1px inset #000000;
}
#table_historicalData_maxAndMins tr{
	height:20%;
	border-bottom:1px double #000000;
	background:#ffffff;
}


#div_historicalData_Charts{
	width:100%;
	height:100%;
}
#container_weight{
	width:20%;
	height:90%;
	display:inline-block;
	border-style:thick;
	border:2px inset #BBBBBB;

}

#container_interiorTemperature{
	width:90%;
	height:400px;
	margin:auto;
	overflow:hidden;
	
}

#container_exteriorTemperature{
	width:20%;
	height:90%;
	display:inline-block;
	margin-right:15px;
}
/* button definitions */
/* Dark Button CSS */

#tab_historicalData ul {
float:left;
	}
#tab_historicalData li {
	float:left;
	height:40px;
	position:relative;
	bottom:65px;
    outline: 0;
    padding: 5px 12px;
    display: inline-block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border-right: 3px solid #333333;
 
   
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
    
    //background: url(images/slantdivider.gif) top right no-repeat;
}
#tab_historicalData li:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
	cursor:pointer;
}
#tab_historicalData li:active {
    background-position: 0 top;
    position: relative;
    bottom: 64px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}


/*  previous hive record styling */
.div_previousHiveRecord{
	display: inline-block;
	margin-right:10px;	
}
.div_previousHiveRecord{
	width:10%;
	height:90%;
	//background-color:#AAAAAA;
	margin-top:10px;
	border-radius:20px;
	
	
}
.div_previousHiveRecord_title{
	background-color: #666666;
	//height:15%;
	width:100%;
	display:block;
	border-radius:20px 20px 0px 0px;
	text-align:center;
	font-size:28px;
	color:#dddddd;
	padding-top:5px;
	padding-bottom:5px;
}
.div_previousHiveRecord_contents{
	width:100%;
	height:75%;
	background-color:#ffffff;
	display:block;
}
.div_previousHiveRecord_footer{
	width:100%;
	height:10%;
	background-color:#666666;
	display:block;
	border-radius:0px 0px 20px 20px;
	
}
/* hidden objects */
.shouldBeHidden{
	display:none;
}