body{
	margin:0;
	width:100%;
	height:100%;
//background: #4c4c4c; /* Old browsers */
//background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #2b2b2b 76%, #2c2c2c 89%, #1c1c1c 100%, #111111 100%, #666666 100%, #474747 100%, #131313 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(76%,#2b2b2b), color-stop(89%,#2c2c2c), color-stop(100%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#666666), color-stop(100%,#474747), color-stop(100%,#131313)); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* IE10+ */
//background: linear-gradient(top, #4c4c4c 0%,#595959 12%,#2b2b2b 76%,#2c2c2c 89%,#1c1c1c 100%,#111111 100%,#666666 100%,#474747 100%,#131313 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

//background-color:#83ABD2;
background-color:#FFE0B3;

}

a{
	text-decoration:none;
	color:inherit;
}
#page{
	width:960px;
	margin:auto;
	min-height:768px;
}
#div_banner{
	min-height:50px;
	background-color:#185F9D;
	color:white;
	font-size:18px;
	text-align:left;
	font-family:geneva;
	font-variant:small-caps;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	opacity:.7;
	



}

#div_map_container{
	
	height:100%;
	background-color:#dddddd;
	margin:auto;
	width:1024px;
	overflow:hidden;
	margin-top:250px;
}
#div_hiveControls_grabber{
	height:180px;
//background: #81BAE7;
background-color:#83ABD2;



	font-family:tahoma;
	font-size:28px;
	font-weight:bold;
	color:white;
	padding:0px;
	padding-top:30px;
	width:1024px;
	margin:auto;
	z-index:9999;
	margin-top:30px;
	
	
	
	-webkit-border-top-left-radius: 20px;
-moz-border-radius-topleft: 20px;
border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
-moz-border-radius-topright: 20px;
border-top-right-radius: 20px;
}

#div_hiveControls_grabber > ul {
	float:right;
	margin-right:50px;
	height:50%;
	list-style:none;
	width:72%;
	padding:0px;
	padding-top:50px;
	//margin:auto;
	position:relative;
	bottom:10px;
	
}

.nav_main {
		height:100%;
		display:inline-block;
		//border-right:1px solid black;
			margin-top:-100px;
		//padding-left:10px;
		text-align:center;
		padding-top:50px;
		padding-bottom:0px;
	width:25%;
	margin-right:-10px;	
background: #50a4e5; /* Old browsers */
background: -moz-linear-gradient(top, #50a4e5 0%, #236ace 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50a4e5), color-stop(100%,#236ace)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #50a4e5 0%,#236ace 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #50a4e5 0%,#236ace 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #50a4e5 0%,#236ace 100%); /* IE10+ */
background: linear-gradient(top, #50a4e5 0%,#236ace 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50a4e5', endColorstr='#236ace',GradientType=0 ); /* IE6-9 */
border-right:4px solid #50a4e5;


}

.nav_main img{
	width:50px;
	height:50px;
	background-position: 100%;
	margin:0;
	diplay:inline-block;
}




.nav_main:hover{
	background-color:#444444;
	cursor:pointer;
	
	background: #527ca5; /* Old browsers */
background: -moz-linear-gradient(top, #527ca5 0%, #1b4fa3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#527ca5), color-stop(100%,#1b4fa3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #527ca5 0%,#1b4fa3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #527ca5 0%,#1b4fa3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #527ca5 0%,#1b4fa3 100%); /* IE10+ */
background: linear-gradient(top, #527ca5 0%,#1b4fa3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527ca5', endColorstr='#1b4fa3',GradientType=0 ); /* IE6-9 */
}

.nav_first{
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.nav_last{
	-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
#div_hiveControls_wrapper{
	position:fixed;
	top:0px;
	left:0px;
	//margin:auto;
	height:200px;
	width:100%;
	background-color:#4D657C;
	padding-top:30px;
	border-bottom:5px solid #aaaaaa;

}
#banner_title{
		color:#83ABD2;
	font-size:40px;
	padding-left:100px;
	float:left;
	position:relative;
	left:20px;
	top:150px;
	
}

#div_hiveControls_trim{
	//background-color:#aaaaaa;
	height:20px;
	width:100%;
	margin-top:-50px;
}


.content_wrapper{
		width:1024px;
	min-height:70%;
	margin:auto;
	//background-color:white;
	margin-top:272px;
}
.class_box_shadow{
    box-shadow: 0px 9px 38px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 9px 38px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 9px 38px rgba(0, 0, 0, 0.80);
}
#data{

}

#charts{
	
}



.div_infoWindow{
}


/* upload form */
.lbl_upload{
	width:100px;
	margin-right:5px;
}

.in_upload{
	width:200px;
	display:inline-block;
	
}

/* historical data */
#container_historicalData{
	//left:25%;
	width:100%;
	position:absolute;
	bottom:0px;
	
	
}
#grabber_historicalData{
	height:70px;
	width:960px;
	//position:relative;
	margin:auto;
	padding:0px;

	background-color:#222222;
	//opacity:.4;
}
#div_historicalData{
	width:960px;
		margin:auto;
	
	height:450px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.24) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.24))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* IE10+ */
background: linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.24) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#3d000000',GradientType=0 ); /* IE6-9 */
	
}

#wrapper_historicalData{
	width:960px;
	height:0%;
}

#tab_historicalData{
	width:100%;
	//height:0%;
	background-color:#000000;
	color:#dddddd;
	display:inline-block;

}

#div_historicalData_previousRecords{
	
	width:100%;
	height:100%;

	
}
#div_historicalData_maxAndMins{
	width:100%;
	height:100%;

}

#nav_historicalData_maxAndMins_record_contents{
	width:100%;
	border-bottom:1px inset #AAAAAA;
    background-color:#83ABD2;
    padding-top:5px;
    padding-bottom:5px;
	
}
.rad_large{
	width:180px;
	height:20px;
	display:inline-block;
	border-right:1px inset #AAAAAA;
	margin-left:0px; 	
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding:2px;
	cursor:pointer;
	
	
}
.rad_large > input {
	width: 80px;
	margin:auto;
}
#div_historicalData_maxAndMins_record_wrapper{
	width:100%;
	height:90%;
	margin: auto;
}
#div_historicalData_maxAndMins_record_title{
	width:100%;
	background-color:#1B446B;
	text-align:center;
	color:#dddddd;
	font-size:26px;
	padding-top:5px;
	padding-bottom:5px;
}
#div_historicalData_maxAndMins_record_contents{
	height:85%;
	width:100%;
	background-color:#ffffff;
	
}
#table_historicalData_maxAndMins
{
	width: 100%;
	text-align:center;
}
#table_historicalData_maxAndMins th
{
	width: 20%;
	border-right: 1px inset #000000;
	border-bottom: 1px inset #000000;
}
#table_historicalData_maxAndMins td
{
	background-color: #ffffff;
	border-right: 1px inset #000000;
	border-bottom: 1px inset #000000;
}
#table_historicalData_maxAndMins tr{
	height:20%;
	border-bottom:1px double #000000;
	background:#ffffff;
}


#div_historicalData_Charts{
	width:100%;
	height:100%;
	 position: relative; 
}
#container_weight{
	width:20%;
	height:90%;
	display:inline-block;
	border-style:thick;
	border:2px inset #BBBBBB;

}

/* ------------------------------- */
/* Chart styling */
#container_interiorTemperature{
	width:960;
//	height:400px;
	margin:auto;
	
}

#tbl_charts {
	background-color:#83ABD2;
}
#tbl_charts input {
	width:100%;
}
#tbl_charts select{
	width:100%;	
}
.lbl_charts{
	color:black;
	font-size:18px;
	font-weight:bold;
}
#tbl_charts tr{
	width:100%;
}
#tbl_charts td{
	width:20%;
}

#container_exteriorTemperature{
	width:20%;
	height:90%;
	display:inline-block;
	margin-right:15px;
}

/* -----------------------------*/
/* button definitions */
/* Dark Button CSS */

#tab_historicalData ul {
	margin:0px;
	display:inline;
	

	}
#tab_historicalData li {
	float:left;
	height:30px;
	//position:relative;
	//bottom:65px;
    outline: 0;
    padding: 20px 12px;
    display: inline-block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    width:47.5%;
 	text-align:center;
   
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
    
    //background: url(images/slantdivider.gif) top right no-repeat;
  
}
.normal{
    border-right: 3px solid #333333;
}
.last{
	border-right:none;
}
#tab_historicalData li:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
	cursor:pointer;
}
#tab_historicalData li:active {
    background-position: 0 top;
    //position: relative;
    //bottom: 2px;
    color: #fff;
    //padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}


/*  previous hive record styling */
.div_previousHiveRecord{
	display: inline-block;
	margin-right:10px;	
}
.div_previousHiveRecord{
	width:10%;
	height:90%;
	//background-color:#AAAAAA;
	margin-top:10px;
	border-radius:20px;
	
	
}
/* hidden objects */
.shouldBeHidden{
	display:none;
}

#logo{
	float:left;
	position:relative;
	//top:25%;
	left:10px;
	width:200px;
	height:200px;
	display:inline-block;
	
	
}
#logo img{
	width:100%;
	height:100%;
}