<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>BeeCloudProject_Web</servlet-name>
		<servlet-class>com.beecloud.web.BeeCloudProject_WebServlet</servlet-class>
	</servlet>
	
    <servlet>
		<servlet-name>mapServlet</servlet-name>
		<servlet-class>com.beecloud.web.mapServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>BeeCloudProject_Web</servlet-name>
		<url-pattern>/beecloudproject_web</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>mapServlet</servlet-name>
		<url-pattern>/mapServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>map.jsp</welcome-file>
	</welcome-file-list>
</web-app>
