<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.beecloudproject.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>com.beecloudproject.server.MapServlet</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>UploadHive</servlet-name>
    <servlet-class>com.beecloudproject.server.UploadHive</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>CreateHive</servlet-name>
    <servlet-class>com.beecloudproject.server.CreateHive</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>Listener</servlet-name>
  	<servlet-class>com.beecloudproject.server.Listener</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.beecloudproject.server.LoginServlet</servlet-class>
  </servlet>
  
     <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.beecloudproject.server.UpdateProfile</servlet-class>
  </servlet>
     <servlet>
     	<servlet-name>Warnings</servlet-name>
     	<servlet-class>com.beecloudproject.server.Warnings</servlet-class>
     </servlet>

     <servlet>
    <servlet-name>UpdateHive</servlet-name>
    <servlet-class>com.beecloudproject.server.UpdateHive</servlet-class>
  </servlet>
  
       <servlet>
    <servlet-name>DeleteHive</servlet-name>
    <servlet-class>com.beecloudproject.server.DeleteHive</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/beecloudproject/greet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  
     <servlet-mapping>
    <servlet-name>UploadHive</servlet-name>
    <url-pattern>/uploadHive</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
  	<servlet-name>Listener</servlet-name>
  	<url-pattern>/Listener</url-pattern>
  </servlet-mapping>
  
       <servlet-mapping>
    <servlet-name>CreateHive</servlet-name>
    <url-pattern>/createHive</url-pattern>
  </servlet-mapping> 
  
      <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
        <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
        <servlet-mapping>
        	<servlet-name>Warnings</servlet-name>
        	<url-pattern>/Warnings</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
    <servlet-name>UpdateHive</servlet-name>
    <url-pattern>/UpdateHive</url-pattern>
  </servlet-mapping>
  
          <servlet-mapping>
    <servlet-name>DeleteHive</servlet-name>
    <url-pattern>/DeleteHive</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>map2.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!--  Call security!! -->
  <security-constraint>
        <web-resource-collection>
            <url-pattern>/administration.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
     <context-param>
     <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
     <param-value>client</param-value>
   </context-param> <!-- Recommendation from GAE pages  -->

</web-app>
